<!DOCTYPE html>
<html>
<head>
	<title>This is the show page</title>
</head>
<body>
<h1>Display Recent  User Details </h1>
<p>

	First Name: <%=@user.firstname %>
</p></br>

<p>
	Last Name: <%=@user.lastname %>
</p></br>

<p>
	Designation: <%=@user.designation %>
</p></br>

<p>
	Origin: <%=@user.origin %>
</p></br>

<%= link_to "Home page",root_path %>

</body>



</html>